{% extends "events/base.html" %}


{% block content %}


<div class="card">
    <div class="card-header">
    {% if searched %}
        You Searched For {{ searched }}
    {% else %}
        Search Events
    {% endif %}
    </div>
    
    <div class="card-body">
        <form method=POST action="{% url 'search-events' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search Events" aria-label="Search" name="searched">
            <br>
            <button class="btn btn-outline-secondary me-2" type="submit">Search</button>
          </form>
    </div>

</div>

     <br>
    
            <!-- {% for event in events %}
            <div class="card">
                <h5 class="card-header">{{ event }}</h5>
                <div class="card-body">
                    <h5 class="card-title">Venue: {{ event.venue }}</h5>
                    <p class="card-text">
                        <ul>
                            <li><strong>Date: </strong>{{ event.event_date }}</li>
                            <li><strong>Days Till Event: </strong>{{ event.DaysToEvent }} Days</li>
                            <li><strong>Occured: </strong>{{ event.IsPastEvent }}</li>
                            <li><strong>Venue Website: </strong>{{ event.venue.web }}</li>
                            <li><strong>Manager: </strong>{{ event.manager }}</li>
                            <li><strong>Description: </strong>{{ event.description }}</li>
                            <li>
                                <strong>Attendees: </strong> <br>
                                {% for user in event.attendees.all %}
                                {{ user }} <br>
                                {% endfor %}
                            </li>
                        </ul>
                    </p>
                </div>
                {% if user.is_authenticated %}
                    {% if user == event.manager %}
                        <div class="card-footer text-body-secondary">
                            <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
                            <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <br>
            {% endfor %} -->




        {% for event in events %}

        {% if event.approved %}

        <div class="card">
            
            <h5 class="card-header">{{ event }}</h5>

        <div style="display: flex;">


            <div class="card-body" style="width: 48%;">
            <h5 class="card-title">Venue: {{ event.venue }}</h5>
            <p class="card-text">
                <ul>
                    <li>
                        <strong>Date: </strong>{{ event.event_date.date }} 
                        {% if event.IsPastEvent == 'Upcoming' %}
                        <span class="badge text-bg-success">{{ event.IsPastEvent }}</span>
                        {% else %}
                        <span class="badge text-bg-danger">{{ event.IsPastEvent }}</span>
                        {% endif %}
                    </li>
                    <li><strong>Days Till Event: </strong>{{ event.DaysToEvent }} Days</li>

                    <li><strong>Description: </strong>{{ event.description }}</li>
                    
                    
                    <li><strong>Venue Website: </strong>{{ event.venue.web }}</li>
                    <li><strong>Manager: </strong>{{ event.manager }}</li>
                    <!-- <li><strong>Approved: </strong>{{ event.approved }}</li> -->

                    <li>
                        <strong>Attendees: </strong> <br>
                        {% for user in event.attendees.all %}
                        {{ user }} <br>
                        {% endfor %}
                    </li>
                </ul>
            </p>
            </div>

            <div style="width: 48%; text-align: center; margin: auto 0 auto 0">
                {% if event.venue.venue_image %}
                        <img src="{{ event.venue.venue_image.url }}" alt="Venue Image" class="img-fluid rounded shadow-lg">
                        <br>
                        {{ event.venue }}
                    {% endif %}
            </div>


        </div>
        
        {% if user.is_authenticated %}
            {% if user == event.manager %}
                <div class="text-body-secondary" style="margin: auto; margin-bottom: 20px;">
                    <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm" style="margin-right: 30px;">Update Event</a>
                    <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
                </div>
            {% endif %}
        {% endif %}


        </div>
        <br>


        {% endif %}
    
    {% endfor %}


{% endblock %}